@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

:root {
  --font-family: "Courgette", serif;
  --btn-color: #86888D;
  --background-color1: #a5c6f6;
  --background-color2: #e0eafc;
  --background-color3: linear-gradient(to right, #a5c6f6, #4e8be6);
}

* {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color1);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.wrapper-play {
  background-color: var(--background-color2);
  width: 90%;
  max-width: 300px;
  border-radius: 38px;
  box-shadow: 0px 0px 10px #dee8f9;
  padding: 16px;
}

.song-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--btn-color);
}

.player .controls .btn-control, .song-header .btn-head {
  width: 52px;
  height: 52px;
  border-radius: 100%;
  outline: none;
  cursor: pointer;
  background-color: var(--background-color2);
  box-shadow: 10px 10px 10px #d5deef, -10px -10px 10px #ebf6ff;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--btn-color);
  border: none;
}

.player .image-area img {
  width: 160px;
  height: 160px;
  border-radius: 100%;
  object-fit: cover;
  border: 6px solid var(--background-color1);
  margin: 24px auto;
  display: block;
  box-shadow: 10px 10px 10px #d5deef, -10px -10px 10px #ebf6ff;
}

.player .song-details .name {
  font-weight: normal;
  font-size: 18px;
  text-transform: capitalize;
  text-align: center;
  color: var(--btn-color);
}

.player .song-details .artists {
  font-size: 14px;
  text-align: center;
  padding: 12px 0 10px;
  color: #a7a9a8;
}

.player .controls {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 32px 14px 20px;
}

.player .controls .play-pause {
  height: 64px;
  width: 64px;
  background-image: var(--background-color3);
  color: #fff;
}

.rotate {
  animation: roration 22s infinite linear;
  -webkit-animation: roration 22s infinite linear;
}

@keyframes roration {
  from {
    transform: rotate(-360deg);
  }

  to {
    transform: rotate(360deg);
  }
}




/* progress range test*/
#progress {
    appearance: none;
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: var(--background-color1);
    border-radius: 5px;
    outline: none;
    opacity: 0.7;   
    transition: opacity .2s;
}
.current{
    color: var(--btn-color);
}
.range-slide{
    margin-top: 22px;
    margin-bottom: 0px;
}
